/* links within nav outlined below */
nav > a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 1em;
  transition: 0.3s;
}

nav > a.active {
  text-decoration: underline;
  color: crimson;
  background-color: white;
}

